*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body{
  background-color: #1A1A1A;
}

/*               Header                */

.header-body{
  background-color: #1C1C1C;
}

/*               Links                */

.links .icon-link:hover{
  background-color: #262626;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

/*               Nav Buttons                */

.reg-btn:hover{
  background-color: #262626;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.log-btn{
  background-color: #CAFF33;
}

.log-btn:hover{
  background-color: #a1cc29;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

/*               Last Section                */

.last-btn a{
  background-color: #CAFF33;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.last-btn a:hover{
  background-color: #a1cc29;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

/*               footer                */

.social img{
  width: 30px;
  cursor: pointer;
}

.social img:hover{
  transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  transition: ease 0.6s;
  -webkit-transition: ease 0.6s;
  -moz-transition: ease 0.6s;
  -ms-transition: ease 0.6s;
  -o-transition: ease 0.6s;
}

@media screen and (max-width: 576px) {
  body > .py-5{
    padding: 1rem !important;
    padding-top: 3rem !important;
    padding-bottom: 0rem !important;
  }
  header .links , header .btns{
    display: none !important;
  }
  header .d-none{
    display: inline !important;
  }
  main{
    padding: 10px;
  }
  .head{
    padding-top: 15px;
  }
  section .d-flex{
    flex-direction: column-reverse;
  }
  section > .p-5{
    padding: 15px !important;
  }
  .head-section{
    height: 91svh !important;
  }
  .head-paragraph{
    top: 0% !important;
    text-align: center !important;
  }
  .head-section > .p-5{
    padding:20px !important;
    padding-inline: 50px !important;
  }
  .head-img img{
    width: 100% !important;
    right: 0% !important;
    top: 30%;
  }
  .values-title{
    text-align: center;
  }
  .values .row .col-12{
    margin-left: 5px;
    margin-top: 30px;
  }
  .values .gap-3{
    gap: 0px !important;
  }
  .values .mt-5{
    margin-top: 0px !important;
  }
  .benefits-title{
    text-align: center;
  }
  .benefits .col-12{
    padding: 20px !important;
    border-right: 0px !important;
  }
  .benefits .row .d-flex{
    flex-direction: row !important;
  }
  .benefits .benf-row{
    border-top: none !important;
  }
  .benefits .mt-5{
    margin-top: 10px !important;
  }
  .benefits .pt-5{
    padding-top: 10px !important;
  }
  .last-section{
    .p-5{
      padding: 15% !important;
    }
    .d-flex{
      flex-direction: column;
      text-align: center;
    }
    .last-title{
      width: 100% !important;
    }
  }

  .footer-links img{
    width: 140px !important;
  }

  .container > .d-flex{
    flex-wrap: wrap;
  }

  .email , .phone , .location{
    width: 45%;
  }

  .contact{
    flex-direction: column !important;
    gap: 15px !important;
  }
  .social img{
    width: 40px;
  }
  footer .rounded-pill{
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}
}