*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body{
  background-color: #1A1A1A;
}

/*               Header                */

.header-body{
  background-color: #1C1C1C;
}

/*               Links                */

.links .icon-link:hover{
  background-color: #262626;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

/*               Nav Buttons                */

.reg-btn:hover{
  background-color: #262626;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.log-btn{
  background-color: #CAFF33;
}

.log-btn:hover{
  background-color: #a1cc29;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

/*               Last Section                */

.last-btn button{
  background-color: #CAFF33;
  border: none;
}

.last-btn button:hover{
  background-color: #a1cc29;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

/*               footer                */

.social img{
  width: 30px;
  cursor: pointer;
}

.social img:hover{
  transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  transition: ease 0.6s;
  -webkit-transition: ease 0.6s;
  -moz-transition: ease 0.6s;
  -ms-transition: ease 0.6s;
  -o-transition: ease 0.6s;
}