*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body{
  background-color: #1A1A1A;
}

/*               Header                */

.header-body{
  background-color: #1C1C1C;
}

/*               Links                */

.links .icon-link:hover{
  background-color: #262626;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

/*               Nav Buttons                */

.reg-btn:hover{
  background-color: #262626;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.log-btn{
  background-color: #CAFF33;
}

.log-btn:hover{
  background-color: #a1cc29;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.log-f-btn{
  background-color: #262626;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.reg-f-btn{
  background-color: #CAFF33;
}

.reg-f-btn:hover{
  background-color: #a1cc29;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

/*               footer                */

.social img{
  width: 30px;
  cursor: pointer;
}

.social img:hover{
  transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  transition: ease 0.6s;
  -webkit-transition: ease 0.6s;
  -moz-transition: ease 0.6s;
  -ms-transition: ease 0.6s;
  -o-transition: ease 0.6s;
}
@media screen and (max-width: 576px) {
  body > .py-5{
    padding: 1rem !important;
    padding-top: 3rem !important;
    padding-bottom: 0rem !important;
  }
  header .links , header .btns{
    display: none !important;
  }
  header .d-none{
    display: inline !important;
  }
  main{
    padding: 10px;
  }
  section div{
    text-align: center !important;
  }
  .inputs input{
    width: 72svw !important;
  }
  .pass-input input , .l-name-input{
    margin-top: 20px;
  }
  .container > a{
    width: 72svw !important;
  }
  .footer-links img{
    width: 140px !important;
  }

  .container > .d-flex{
    flex-wrap: wrap;
  }

  .email , .phone , .location{
    width: 45%;
  }

  .contact{
    flex-direction: column !important;
    gap: 15px !important;
  }
  .social img{
    width: 40px;
  }
  footer .rounded-pill{
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
  }
}