*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

body{
  background-color: #1A1A1A;
}

/*               Header                */

header{
  background-image: url("./images/Abstract\ Design.png");
  background-repeat: no-repeat;
}

.header-body{
  background-color: #1C1C1C;
}

/*               Links                */

.links .icon-link:hover{
  background-color: #262626;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

/*               Nav Buttons                */

.reg-btn:hover{
  background-color: #262626;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.log-btn{
  background-color: #CAFF33;
}

.log-btn:hover{
  background-color: #a1cc29;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

/*               Head Section                */

.check-icon{
  background-color: #262626;
  width: fit-content;
}

.check-icon img{
  
}

.head-btn button{
  background-color: #CAFF33;
  color: #262626;
  border: none;
}

.head-btn button:hover{
  background-color: #a1cc29;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

/*               Cart Section                */

.float-income{
  background-color: #c9ff331f;
}

.ex-btn{
  background-color: #c9ff331f;
  color: #CAFF33;
  border: none;
}

.ex-btn:hover{
  color: black;
  background-color: #CAFF33;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

/*               Product Section                */

.pro-btns{
  border: none;
  background-color: transparent;
  color: #FFFFFF;
}

.pro-btns:hover{
  background-color: #CAFF33;
  color: black;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

/*               Last Section                */

.last-btn button{
  background-color: #CAFF33;
  border: none;
}

.last-btn button:hover{
  background-color: #a1cc29;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

/*               footer                */

.social img{
  width: 30px;
  cursor: pointer;
}

.social img:hover{
  transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -ms-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  transition: ease 0.6s;
  -webkit-transition: ease 0.6s;
  -moz-transition: ease 0.6s;
  -ms-transition: ease 0.6s;
  -o-transition: ease 0.6s;
}


/*               Media Query                */


@media screen and (max-width: 576px) {
  body > .py-5{
    padding: 1rem !important;
    padding-top: 4rem !important;
    padding-bottom: 0rem !important;
  }
  header .links , header .btns{
    display: none !important;
  }
  header .d-none{
    display: inline !important;
  }
  .head-paragraph > .p-1{
    padding: 0.5rem !important;
  }
  .check-icon{
    margin-inline: auto !important;
  }
  .head-sec{
    display: block !important;
  }
  .head-sec > .w-50{
    width: 100% !important;
  }
  .big-paragraph{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    text-align: center;
  }
  .head-btn{
    text-align: center;
  }
  .head-cart{
    height: 100svh !important;
    padding: 5px;
    margin-left: 0px !important;
    margin-top: 12%;
  }
  .cart{
    width: 92svw !important;
    margin-inline: auto;
  }
  .product-section{
    margin-top: 98svh;
  }
  .product-section h2{
    text-align: center;
  }
  .float-income{
    top: -7% !important;
    left: -2% !important;
  }
  .paragraph-btns{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .paragraph-btns > .w-50{
    width: 100% !important;
  }
  .main-image{
    right: -6% !important;
  }

  .product-containers .row .border-end{
    border-right: transparent !important;
    border-bottom: 1px solid #262626 !important;
  }

  .product-containers .row .p-2{
    padding: 10% !important;
  }

  .last-section{
    .p-5{
      padding: 15% !important;
    }
    .d-flex{
      flex-direction: column;
      text-align: center;
    }
    .last-title{
      width: 100% !important;
    }
  }

  .footer-links img{
    width: 140px !important;
  }

  .container > .d-flex{
    flex-wrap: wrap;
  }

  .email , .phone , .location{
    width: 45%;
  }

  .contact{
    flex-direction: column !important;
    gap: 15px !important;
  }
  .social img{
    width: 40px;
  }
  footer .rounded-pill{
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}
}